name: CI - Build and Push Strapi Docker Image

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    outputs:
      image_tag: ${{ steps.set_tag.outputs.image_tag }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set Image Tag
        id: set_tag
        run: |
          TAG=${GITHUB_SHA::7}
          echo "image_tag=$TAG" >> $GITHUB_OUTPUT

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Docker Image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/strapi-app:${{ steps.set_tag.outputs.image_tag }} ./strapi
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/strapi-app:${{ steps.set_tag.outputs.image_tag }}
